* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 0 auto;
    width: 80%;
}

main{
    margin: 0 auto;
    width: 80%;
}

h1 {
    color: #E53170;
    text-transform: capitalize;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: cursive;
}

div>p{
    font-weight: bold;
}

p{
    font-family: cursive;
    
}

img{
    width: 100px;
    height: 100px;
    float: left;
}

.column{
    float: left;
    width: 30%;
    background-color:#0F0E17;
    margin: auto;
}

.first-row {
    display: flex;
    color: white;
}

.second-row {
    display: flex;
    color: white;
}

#clearfix::after{
    content: "";
    display: table;
    clear: both;
}


div{
    margin-top: 60px;
}

a{
    color: #00A6F5;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
}